Package: com.yulkytulky.instanotastalker
Name: InstaNotAStalker
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Confirm Instagram likes with a slew of preferences!
Maintainer: YulkyTulky
Author: YulkyTulky
Section: Tweaks
Depiction: https://YulkyTulky.github.io/TweakRepo/depictions/?p=com.yulkytulky.instanotastalker
