Package: com.yulkytulky.instanotastalker
Name: InstaNotAStalker
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Confirm Instagram likes and/or follows with a slew of preferences!
Maintainer: YulkyTulky
Author: YulkyTulky
Section: Tweaks
